body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(101, 90, 219);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  div.profile{
    
    text-align: center;
  }
  